#scene {
    background: #fff;
    margin: 10px;
    width: 500px;
    height: 400px;
    position: relative;
}

#scene > div {
    position: absolute;
}

.building {
    z-index: 0;
    background-color: yellow;
    width: 40px;
    height: 40px;
}

.building-SourceLocation {
    background-color: green;
}

.building-DestinationLocation {
    background-color: blueviolet;
}

.building-DestinationBusyLocation {
    background-color: orange;
}

.agent {
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transition-property: left, top;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.agent:before {
    font-size: 20px;
}

.agent-state-idle:before {
    content: '😴';
}

.agent-state-busy:before {
    content: '😀';
}

.agent-state-packed:before {
    content: '🥵';
}
