#scene {
    background: #fff;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

#scene div {
    position: absolute;
}

#scene .layer-hover {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
}

#scene .layer-hover.active {
    display: block;
}

#scene .layer-hover .hover {
    z-index: 9;
    width: 30px;
    height: 30px;
    display: none;
    border: 5px dashed yellow;
    font-size: 8px;
    word-wrap: anywhere;
}

#scene .layer-hover .hover.active {
    display: block;
}

#scene .layer-hover .hover.invalid {
    background-color: red;
}

#scene .layer-hover .hover.valid {
    background-color: green;
}

.building {
    z-index: 0;
    width: 40px;
    height: 40px;
}

.building-SourceLocation {
    background-color: green;
}

.building-DestinationLocation {
    background-color: blueviolet;
}

.building-DestinationBusyLocation {
    background-color: orange;
}

.agent {
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transition-property: left, top;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.agent:before {
    font-size: 20px;
}

.agent-state-idle:before {
    content: '😴';
}

.agent-state-busy:before {
    content: '😀';
}

.agent-state-packed:before {
    content: '🥵';
}

.path {
    z-index: 2;
    width: 1px;
    height: 1px;
    background: gray;
}
